<div class="ui bottom attached segment">

      <div class="ui one column centered grid">
       <!-- <div class="column" id="toolbar">
          <div class="ui multiple dropdown" id="filter-order">
            <input type="hidden" name="filters">
            <i class="filter icon"></i>
            <span class="text">Filter Posts</span>
            <div class="menu">
              <div class="ui icon search input">
                <i class="search icon"></i>
                <input type="text" placeholder="Search tags...">
              </div>
              <div class="divider"></div>
              <div class="header">
                <i class="tags icon"></i>
                Tag professions
              </div>
              <div class="scrolling menu">

                <div class="item" data-value="Locksmith" (click)="showChoice('Locksmith')">
                  <div class="ui green empty circular label"></div>
                  Locksmith
                </div>
                <div class="item" data-value="Plumber" (click)="showChoice('Plumber')">
                  <div class="ui yellow empty circular label"></div>
                  Plumber
                </div>
                <div class="item" data-value="Electrician" (click)="showChoice('Electrician')">
                  <div class="ui red empty circular label"></div>
                  Electrician
                </div>
                <div class="item" data-value="Cleaner" (click)="showChoice('Cleaner')">
                  <div class="ui blue empty circular label"></div>
                  Cleaner
                </div>
                <div class="item" data-value="Computer foreman" (click)="showChoice('Computer foreman')">
                  <div class="ui pink empty circular label"></div>
                  Computer foreman
                </div>
                <div class="item" data-value="Handyman" (click)="showChoice('Handyman')">
                  <div class="ui orange empty circular label"></div>
                  Handyman
                </div>
              </div>
            </div>
          </div>

          <span class="toolbar-spacer"></span>
          <button class="ui basic button" *ngIf="isPoke()" [routerLink]="['/create-order']">
            <i class="icon green plus"></i>
            Add Order
          </button>

        </div>
        <div class="ui divider" style="width: 100%; margin: 0; padding-left: 14px; padding-right: 14px">
        </div>

        -->
        <div class="two column centered row">

          <div class="column" id="listOrders">



                          <!--<div style="width:100%; height: 100%; text-align: center; display: inline-block;" >
                <i class="circle notched big loading icon" style="position: relative; top: 50%; transform: translateY(-50%);"
                   [ngClass]="{'hidden':!isLoad}"></i>
              </div>

              <!--<div style="padding-bottom: 1em;">
                <div class="ui field">
                  <button class="ui button fluid" [ngClass]="{'green': currentPage != 1, 'grey': currentPage == 1}"
                          ><i class="arrow up icon"></i></button>
                </div>
              </div> -->
              <!-- Four Books -->
            <div class="ui one column centered grid">

              <div class="column" id="outbar">

                <form class="ui form" style="width: 30%; margin-bottom: 5px">
                  <div class="field">
                    <div class="ui icon input">
                      <input type="text" name="search" placeholder="search..." [(ngModel)]="searchStr">
                      <i class="search icon"></i>
                    </div>
                  </div>
                </form>

                <div class="ui left floated compact segment" id="checkbox" *ngIf="!isPoke()">
                  <div class="ui checked checkbox"  [ngClass]="{'checked':isCheckForMe}" (click)=checkForMe(!isCheckForMe)>
                    <input type="checkbox" checked="">
                    <label>    For me</label>
                  </div>
                </div>

               <!-- <div class="ui selection dropdown">
                  <input name="gender" type="hidden">
                  <div class="default text">Select a value</div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    <div class="item" data-value="0">Value</div>
                    <div class="item" data-value="1">Another Value</div>
                  </div>
                </div>
                <div class="ui button">
                  Clear
                </div> -->

                <span class="toolbar-spacer"></span>

                <button class="ui basic button" *ngIf="isPoke()" [routerLink]="['/create-order']" style="margin-bottom: 5px">
                  <i class="icon green plus"></i>
                  Add Order
                </button>
                <label class="control">

                  <!-- <input type="number readonly" class="input readonly" min="1" [(ngModel)]="config.itemsPerPage" id="number" list="defaultNumbers"> -->
                  <select class="ui compact section dropdown" [(ngModel)]="config.itemsPerPage" id="number" >
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                  </select>

                </label>
              </div>

    </div>

            <div class="ui active centered inline loader" style="margin-top: 50%" [ngClass]="{'active':isLoad}"></div>

<app-card-order
                      *ngFor="let ord of orders  | orderFilter:tag | orderSearch:searchStr| paginate: config "
                       [order]="ord"

              ></app-card-order> 

		

              <!--[order]="ord"-->
              <!--"
                           -->
              <!-- <div style="padding-top: 1em;">
                 <div class="ui field fluid">
                   <button class="ui button fluid" [ngClass]="{'green': currentPage != pageCount, 'grey': currentPage == pageCount}"
                           ><i class="arrow down icon"></i></button>
                 </div>
               </div>-->

          </div>

            <div class="paginationPadding" style="padding-right: 40px">


            <div class="has-text-centered">
                <pagination-controls class="myPagination"
                                     [id]="config.id"
                                     [maxSize]="maxSize"
                                     [directionLinks]="directionLinks"
                                     [autoHide]="autoHide"
                                     [previousLabel]="labels.previousLabel"
                                     [nextLabel]="labels.nextLabel"
                                     [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                                     [screenReaderPageLabel]="labels.screenReaderPageLabel"
                                     [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                                     (pageChange)="onPageChange($event)"></pagination-controls>
            </div>

            </div>

        </div>
     <!-- Book Catalog -->

    <!-- End of Book Catalog -->
  </div>
</div>


