<div class="ui red  link card" style ="width: 100%">
  <div class="content">
  
   <table cellspacing="9" cellpadding="0">
   <tr> 
    <td class="leftcol"><img class="right floated ui image" src="https://semantic-ui.com/images/avatar/small/matt.jpg" ></td>
	<td valign="top">
    <div class="header" style = "font-size:160%;">{{master.name}}</div>
    <div class="description" style = "font-size:120%;">
    <span class="text"> Profession: </span>
	<span class="category" >{{master.profession}}</span>
		<p><span class="text"> Location: </span>
		{{master.location}}</p>
    </div>
	</td>
	</tr>
  </table>
	
	</div>
    </div>
	
  


