
<div class="ui one column centered grid">
    <div class="column" id="toolbar">
        <div class="ui raised link card" style="width: 100%;">
        <div class="content" style="padding: 0px">
          <cl-image *ngIf="master.picture != null"   [public-id]="master.picture" class="left floated small ui image" format="jpg" style="margin-bottom: 0px">
          </cl-image>
            <img *ngIf="master.picture == null" class="left floated small ui image" style="margin-bottom: 0px" src="https://semantic-ui.com/images/avatar/large/steve.jpg">
            <div class="right floated author" style="padding: 14px">
                <sui-rating class="star huge" [ngModel]="mastersRate()" [maximum]="5" isReadonly="false"></sui-rating>
            </div>
            <div style="padding: 14px">
                <div class="header">
                    <h3>{{master.name}}</h3>
                </div>
                <div class="meta">
                    <h4>{{master.profession}}</h4>
                </div>
                <div class="meta">
                    <h5>{{master.skills}}</h5>
                </div>
            </div>

        </div>

		 <div class="extra content">
		  <div class="right floated author " style="display: flex;">

			  <button class="left floated  ui negative basic button" style="margin-bottom: 0px"  (click)="blockUser(master)"
					  *ngIf="isAdmin() && !master.blocked">Block User</button>

			 <div style="display: flex;"  *ngIf="isAdmin() && master.blocked">
		      <button class="left floated  ui positive basic button" style="margin-bottom: 0px"  (click)="unblockUser(master)">Unblock User</button>
		  </div>
		  </div>
			   <div class="left floated author " style="display: flex;"  *ngIf="isAdmin() && master.blocked">
				<h4 class="ui header">
					  <i class="lock icon" ></i>
					  <div class="content">  User is blocked </div>


				</h4>
			  </div>
	  </div>

    </div>
</div>
</div>
<!-- <div class="ui raised  link card" style ="width: 100%">
  <div class="content">

   <table cellspacing="9" cellpadding="0">
   <tr>
    <td class="leftcol"><img class="right floated ui image" src="https://semantic-ui.com/images/avatar/small/matt.jpg" ></td>
	<td valign="top">
    <div class="header" style = "font-size:160%;">{{master.name}}</div>
    <div class="description" style = "font-size:120%;">
    <span class="text"> Profession: </span>
	<span class="category" >{{master.profession}}</span>
		<p><span class="text"> Location: </span>
		{{master.location}}</p>
    </div>
	</td>
	</tr>

  </table>

	</div>
    </div>
-->



<!-- <div class="ui card" style="margin: 7px; width: 150px">
    <div class="image">
        <img src="https://semantic-ui.com/images/avatar/small/matt.jpg">
    </div>
    <div class="content">
        <img class="right floated mini ui image" src="https://semantic-ui.com/images/avatar/small/matt.jpg">
        <div class="header">{{master.name}}</div>
        <div class="meta">
            <a>{{master.profession}}</a>
        </div>
        <div class="description">
            {{master.skills}}
        </div>
    </div>
    <div class="extra">
        Rating:
        <div class="ui star rating" data-rating="2"></div>
    </div>
</div>
  -->


