

<!--<mat-toolbar color="primary">

  <span class="toolbar-spacer"></span>
  <span class="toolbar-title">UberMaster</span>
  <span class="toolbar-spacer"></span>

  <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
    Войти
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openDialog()">
      <mat-icon>settings</mat-icon>
      <span>Авторизация</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Регистрация</span>
    </button>
  </mat-menu>

<mat-card class="mat-card-start-page">
  <mat-card-title>
    <span>Добро пожаловать в UberMaster</span>
  </mat-card-title>
<mat-card-subtitle>Авторизуйтесь, чтобы продолжить</mat-card-subtitle>
</mat-card>
-->



