<div class="ui bottom attached segment" *ngIf="!isLoad">
  <div class="ui one column centered grid">
    <div class="two column centered row">
      <div class="column" style="width: 65%!important; border: 1px solid lightgray; padding-bottom: 14px; padding-top: 14px; border-radius: 5px;">
        <form class="ui form" style="width: 50%; margin: 0 auto; display: block">
          <p>* Fields must be filled</p>
          <div class="field">
            <label>Your photo *</label>
            <input name="file" type="file"
                   class="file-upload" data-cloudinary-field="image_id"
                   data-form-data="{ 'transformation': {'crop':'limit','tags':'samples','width':3000,'height':2000}}" [(ngModel)]="pictureMaster">
          </div>
          <div class="field" >
            <label>First name *</label><!-- placeholder="{{user.profession}}" -->
            <input type="text" name="first-name"  [(ngModel)]="firstNameMaster" >
          </div>
          <div class="field">
            <label>Last name *</label>
            <input type="text" name="last-name" [(ngModel)]="lastNameMaster">
          </div>
          <div class="field">
            <label>Phone *</label>
            <input type="text" name="phone"  [(ngModel)]="phoneNumberMaster">
          </div>
          <div class="field">
            <label>Location *</label>
            <select name="location" [(ngModel)]="locationMaster">
              <option>Primorskyy</option>
              <option>Malinovskyy</option>
              <option>Kievskyy</option>
              <option>Suvorovskyy</option>
            </select>
          </div>
          <div class="field">
            <label>Description</label>
            <input type="text" name="description"  [(ngModel)]="userDescriptionMaster">
          </div>
          <div class="field">
            <label>Password *</label>
            <input type="password" name="password"  [(ngModel)]="passwordMaster">
          </div>
          <div class="field">
            <label>Confirm password *</label>
            <input type="password" name="confirm-password" placeholder="Confirm password..." [(ngModel)]="confirmPasswordMaster">
          </div>
          <div class="field">
            <label>Profession *</label>
            <select name="profession" [(ngModel)]="profession">
              <option>Locksmith</option>
              <option>Plumber</option>
              <option>Electrician</option>
              <option>Cleaner</option>
              <option>Computer foreman</option>
              <option>Handyman</option>
            </select>
          </div>
          <div class="field">
            <label>Tools</label>
            <input type="text" name="tools" placeholder="Enter separated by commas..." [(ngModel)]="tools">
          </div>
          <div class="field">
            <label>Skills</label>
            <input type="text" name="skills" placeholder="Enter separated by commas..." [(ngModel)]="skills">
          </div>
          <div class="field">
            <label>Experience *</label>
            <input type="text" name="experience" placeholder="Your experience..." [(ngModel)]="experience">
          </div>
          <div class="field"> <!--style="margin-left:30px; width:160px;"-->
            <label>Work time *</label>
            <div style="margin-left:20px; width:190px;">
            <label for="start_time" style="float:left;">From</label>
            <input type="number" name="start_time" for="to" id="start_time" step="1" min="0" max="23" value="0"
                   style="float:left; width:62px; height:10px;" [(ngModel)]="startTime">
            <label for="end_time" id="to" style="float:left;">To</label>
            <input type="number" name="end_time" id="end_time" step="1" min="0" max="23" value="0"
                   style="width:62px; height:10px;" [(ngModel)]="endTime">
            </div>
          </div>
          <div class="field" style="margin-left:30px; width:160px;">
            <label for="payment" style="float:left;">Payment *</label>
            <input type="number" name="payment" id="payment" step="10" min="0" value="0" style="width:90px; height:10px;" [(ngModel)]="payment">
            <label for="payment" style="float:right;">$</label>
          </div>
          <div class="field" style="margin-left:30px; width:160px;">
            <label for="smoking" style="float:left;">Smoking *</label>
            <input type="radio" name="smoking" id="smoking" value="yes" [(ngModel)]="smoke">Yes
            <input type="radio" name="smoking" value="no" checked>No
          </div>
          <div class="field" style="justify-content: center; display: flex" >
          <div class="ui green labeled icon button" (click)="confirmChanges()">
            <i class="signup icon"></i>
            Confirm Changes
          </div>
          </div>
		  <div class="ui positive message transition hidden" id="update-success-message">
				<i class="close icon"></i>
				<div class="header">Profile Updated</div>
		  </div>
        </form>
      </div>
    </div>
  </div>
</div>
