<div class="ui bottom attached segment" *ngIf="!isLoad">
  <div class="ui one column centered grid">
    <div class="two column centered row">
      <div class="column" >
         <form [formGroup]="rMasterForm" (ngSubmit)="confirmChanges()" class="ui form" style="width: 50%;">
            <img class="disabled medium ui image" src="https://semantic-ui.com/images/wireframe/image.png" style="display: block; margin: 0 auto">

            <p>* all fields must be filled</p>
            <div class="field">
              <label>Your photo *</label>
              <input name="file" type="file"
                     class="file-upload" data-cloudinary-field="image_id"
                     data-form-data="{ 'transformation': {'crop':'limit','tags':'samples','width':3000,'height':2000}}">
                     <!--[(ngModel)]="pictureMaster">-->
            </div>
            <div class="field" [ngClass]="{'has-error':!rMasterForm.controls['firstNameMaster'].valid && rMasterForm.controls['firstNameMaster'].touched}">
              <label>First name *</label>
              <input class="form-control" type="text" name="first-name" [ngModel]="rMasterForm.value.firstNameMaster" [formControl]="rMasterForm.controls['firstNameMaster']">
			  <div *ngIf="rMasterForm.controls['firstNameMaster'].hasError('required') && rMasterForm.controls['firstNameMaster'].touched" class="alert" style = "color:red">Include a first name</div>           
			  <div *ngIf="rMasterForm.controls['firstNameMaster'].hasError('minlength') && rMasterForm.controls['firstNameMaster'].touched" class="alert" style = "color:red">Your first name must be at least 2 characters long.</div>
			  <div *ngIf="rMasterForm.controls['firstNameMaster'].hasError('maxlength') && rMasterForm.controls['firstNameMaster'].touched" class="alert"style = "color:red">Your first name cannot exceed 15 characters.</div>
		   </div>
            <div class="field" [ngClass]="{'has-error':!rMasterForm.controls['lastNameMaster'].valid && rMasterForm.controls['lastNameMaster'].touched}">
              <label>Last name *</label>
              <input class="form-control" type="text" name="last-name" [ngModel]="rMasterForm.value.lastNameMaster"   [formControl]="rMasterForm.controls['lastNameMaster']">
			  <div *ngIf="rMasterForm.controls['lastNameMaster'].hasError('required') && rMasterForm.controls['lastNameMaster'].touched" class="alert" style = "color:red">Include a last name</div>           
              <div *ngIf="rMasterForm.controls['lastNameMaster'].hasError('minlength') && rMasterForm.controls['lastNameMaster'].touched" class="alert" style = "color:red">Your last name must be at least 2 characters long.</div>
			  <div *ngIf="rMasterForm.controls['lastNameMaster'].hasError('maxlength') && rMasterForm.controls['lastNameMaster'].touched" class="alert"style = "color:red">Your last name cannot exceed 20 characters.</div>
			</div>
			
            <div class="field" [ngClass]="{'has-error':!rMasterForm.controls['phoneNumberMaster'].valid && rMasterForm.controls['phoneNumberMaster'].touched}">
              <label>Phone *</label>
              <input type="text" name="phone" [ngModel]="rMasterForm.value.phoneNumberMaster" [formControl]="rMasterForm.controls['phoneNumberMaster']">
			  <div *ngIf="rMasterForm.controls['phoneNumberMaster'].hasError('required') && rMasterForm.controls['phoneNumberMaster'].touched" class="alert" style = "color:red">Include a Phone Number</div>           
			  <div>{{rMasterForm.value.phoneNumberMaster}}</div>
			</div>
            <div class="field">
              <label>Location *</label>
              <select class="ui dropdown" name="location"  formControlName="locationMaster">
                <option *ngFor="let c of locations"  [value]="c.name">{{c.name}}</option>
              </select>
            </div>
            <div class="field"> 
              <label>Description</label>
              <textarea  rows="3" type="text" name="description" placeholder="Tell something about you..."
                        formControlName="userDescriptionMaster"> </textarea>
            </div>
            <div class="field" [ngClass]="{'has-error':!rMasterForm.controls['passwordMaster'].valid && rMasterForm.controls['passwordMaster'].touched}">
              <label>Password *</label>
              <input type="password" name="password" placeholder="Password..." [formControl]="rMasterForm.controls['passwordMaster']">
			  <div *ngIf="rMasterForm.controls['passwordMaster'].hasError('required') && rMasterForm.controls['passwordMaster'].touched" class="alert" style = "color:red">Enter Password</div>           
            </div>
            <div class="field" [ngClass]="{'has-error':!rMasterForm.controls['confirmPasswordMaster'].valid && rMasterForm.controls['confirmPasswordMaster'].touched}">
              <label>Confirm password *</label>
              <input type="password" name="confirm-password" placeholder="Confirm password..."
                    [formControl]="rMasterForm.controls['confirmPasswordMaster']">
			  <div *ngIf="rMasterForm.controls['confirmPasswordMaster'].hasError('required') && rMasterForm.controls['confirmPasswordMaster'].touched" class="alert" style = "color:red">Confirm Password</div>           
            </div>
            <div class="field">
              <label>Profession *</label>
              <select class="ui dropdown" name="profession" formControlName="profession">
                <option *ngFor="let c of professions" [value]="c.name">{{c.name}}</option>
              </select>
            </div>
            <div class="field">
              <label>Tools</label>
              <input type="text" name="tools" placeholder="Enter separated by commas..." formControlName="tools">
            </div>
            <div class="field">
              <label>Skills</label>
              <input type="text" name="skills" placeholder="Enter separated by commas..." formControlName="skills">
            </div>
            <div class="field" [ngClass]="{'has-error':!rMasterForm.controls['experience'].valid && rMasterForm.controls['experience'].touched}">
              <label>Experience *</label>
              <input type="text" name="experience" placeholder="Your experience..." [formControl]="rMasterForm.controls['experience']">
			  <div *ngIf="rMasterForm.controls['experience'].hasError('required') && rMasterForm.controls['experience'].touched" class="alert" style = "color:red">Enter your Experience</div>           
            </div>
            <div class="field" > <!--style="margin-left:30px; width:160px;"-->
              <label>Work time *</label>
              <div style="margin-left:20px; width:190px;">
                <label for="start_time" style="float:left;">From</label>
                <input type="number" name="start_time" for="to" id="start_time" step="1" min="0" max="23" value="0"
                       style="float:left; width:62px; height:10px;" formControlName="startTime">
                <label for="end_time" id="to" style="float:left;">To</label>
                <input type="number" name="end_time" id="end_time" step="1" min="0" max="23" value="0"
                       style="width:62px; height:10px;" formControlName="endTime">
              </div>
            </div>

            <div class="field" style="margin-left:30px; width:160px;">
              <label for="payment" style="float:left;">Payment * </label>
              <input type="number" name="payment" id="payment" step="10" min="0" value="0"
                     style="width:90px; height:10px;" formControlName="payment">
              <label for="payment" style="float:right;">$</label>
            </div>
            <div class="field" style="margin-left:30px; width:160px;">
              <label for="smoking" style="float:left;">Smoking * </label>
              <input type="radio" name="smoke" id="smoking" value="true" formControlName="smoke"> Yes
              <input type="radio" name="smoke" value="false" checked formControlName="smoke"> No
            </div>
            <div class="ui one column stackable grid container">
              <div class="column">
                <div class="field" style="justify-content: center; display: flex">
                  <input type="submit" class="ui green button" value="Confirm Changes"
                         [disabled]="!rMasterForm.valid ||
                         rMasterForm.controls['passwordMaster'].value != rMasterForm.controls['confirmPasswordMaster'].value ||
                         rMasterForm.controls['locationMaster'].value == 'Location...' ||
                         rMasterForm.controls['profession'].value == 'Profession...'">
                </div>
              </div>
            </div>

          </form>
      </div>
    </div>
  </div>
</div>
