.meta {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 15px;
    position: relative;
}

.hoveredCardOrder {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    transition: .5s all;
    z-index: 10;
}