<div class="ui raised link card" style="width: 100%; margin-bottom: 14px">
  <div class="content">
    <div class="right floated author" style="text-align: right; color: darkgray">
      <p style="margin-bottom: 0px">{{order.startDate | date :'dd-MM-yyyy'}}</p>
      <p>{{order.startDate | date :'HH:mm'}}</p>
    </div>
    <div class="header" style="word-wrap: break-word"><p>{{order.name}}</p></div>
    <div>
      <span class="category">{{order.status}}</span>
    </div>
    <div class="description">
      <p style="word-wrap: break-word">{{order.smallDescription}}</p>
    </div>
  </div>
  <div class="extra content">
    <div class="right floated author" (click)="showPoke()" *ngIf="!isLoading">
      <cl-image *ngIf="poke.picture != null"   [public-id]="poke.picture" class="ui avatar image" format="jpg">{{getNamePoke()}}
      </cl-image>
      <img *ngIf="poke.picture == null" class="ui avatar image" src="https://semantic-ui.com/images/avatar/large/steve.jpg">{{getNamePoke()}}
    </div>
    <div class="left floated button">
      <button class="ui blue basic button" (click)="showOrder()">Details</button>
      <button class="ui negative button" style="margin-bottom: 0px" (click)="deleteOrder(order.object_id)"
              *ngIf="isAdmin() && (order.status=='In processing' || order.status=='New') ">Delete</button>
    </div>
  </div>
</div>
