<div class="ui raised link card" style="width: 100%; margin-bottom: 14px">
  <div class="content">
    <div class="header">{{order.name}}</div>
    <div class="meta">
      <span class="category">{{order.status}}</span>
    </div>
    <div class="description">
      <p>{{order.bigDescription}}</p>
    </div>
  </div>
  <div class="extra content">
    <div class="right floated author">
      <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/matt.jpg"> Matt
    </div>
  </div>
</div>