<div class="containerMy">

      <div class="column">
        
		<div>Rate Order</div>
		<sui-rating class="star" [(ngModel)]="rating" [maximum]="5"></sui-rating> 
	    <!-- <div class="left floated author ">
	<button class="ui positive button" style="margin-bottom: 0px" (click)="rateOrder()" >Rate</button>
	</div> -->

	 <div class="field" style="size:200px;">
        <label>Comment Order</label>
        <textarea style="height:200px; width:300px" [(ngModel)]="commentByPoke"  [disabled]="disabling()" ></textarea>
    </div>
	<!-- <div class="left floated author ">
	<button class="ui positive button" style="margin-bottom: 0px" (click)="commentOrder()" >Comment</button>
	</div> -->
          <div class="left floated author ">
	<button class="ui positive button" style="margin-bottom: 0px" (click)="confirmOrder()"  [routerLink]="['/profilePoke',this.user.object_id]">Confirm Complation</button>
	</div>
        </div>
      </div>
  

