.divOrders{
    width: 100%;
    height: 100%;
}

#tools{
    border-right: 1px solid lightgrey;
}

.toolbar-spacer{
    flex: 1 1 auto;
}

#toolbar{
    text-align: center;
    display: flex;
}

#outbar{
    text-align: center;
    display: flex;
}

#number{
  width: 3em;
}