<div class="ui bottom attached segment" style="padding-right: 0px; padding-left: 0px">

<div class="ui one column centered grid">
        <div class="column" id="toolbar">
          <div class="ui multiple dropdown" id="filter-order">
            <input type="hidden" name="filters">
            <i class="filter icon"></i>
            <span class="text">Filter Masters</span>
            <div class="menu">
              <div class="ui icon search input">
                <i class="search icon"></i>
                <input type="text" placeholder="Search tags...">
              </div>
              <div class="divider"></div>
              <div class="header">
                <i class="tags icon"></i>
                Tag Professions
              </div>
              <div class="scrolling menu">
                <div class="item" data-value="news">
                  <div class="ui purple empty circular label"></div>
                  Skills
                </div>
               
              </div>
            </div>
          </div>


          <span class="toolbar-spacer"></span>
          <!--<h2 style="margin-top: 5px; margin-bottom: 0">Order List</h2>
          <span class="toolbar-spacer"></span>
          -->
        </div>
      <div class="ui one column centered grid">
        <div class="ui divider" style="width: 100%; margin: 0; padding-left: 14px; padding-right: 14px">
          <!-- Divider -->
        </div>
        <div class="two column centered row">
          <div class="column" id="listOrders">

              <div class="ui active centered inline loader" style="margin-top: 50%" [ngClass]="{'active':isLoad}"></div>

              <div class="ui one column centered grid">

                  <div class="column" id="outbar">

                      <form class="ui form" style="width: 30%; margin-bottom: 5px">
                          <div class="field">
                              <input type="text" name="first-name" placeholder="search..." [(ngModel)]="searchStr">
                          </div>
                      </form>

                      <span class="toolbar-spacer"></span>

                      <label class="control">

                          <!-- <input type="number readonly" class="input readonly" min="1" [(ngModel)]="config.itemsPerPage" id="number" list="defaultNumbers"> -->
                          <select class="ui compact section dropdown" [(ngModel)]="config.itemsPerPage" id="number">
                              <option value="5">5</option>
                              <option value="10">10</option>
                              <option value="15">15</option>
                          </select>

                      </label>
                  </div>

              </div>


<app-card-master
                      *ngFor="let mast of masters  | masterSearch: searchStr|  paginate: config "
                       [master]="mast" 
					   [routerLink]="['/master',mast.object_id]"
              ></app-card-master>


              <!--[order]="ord"-->
              <!--"
                           -->
              <!-- <div style="padding-top: 1em;">
                 <div class="ui field fluid">
                   <button class="ui button fluid" [ngClass]="{'green': currentPage != pageCount, 'grey': currentPage == pageCount}"
                           ><i class="arrow down icon"></i></button>
                 </div>
               </div>-->

          </div>

            <div class="paginationPadding" style="padding-right: 40px">
                <div class="has-text-centered">
                    <pagination-controls class="myPagination"
                                         [id]="config.id"
                                         [maxSize]="maxSize"
                                         [directionLinks]="directionLinks"
                                         [autoHide]="autoHide"
                                         [previousLabel]="labels.previousLabel"
                                         [nextLabel]="labels.nextLabel"
                                         [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                                         [screenReaderPageLabel]="labels.screenReaderPageLabel"
                                         [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                                         (pageChange)="onPageChange($event)"></pagination-controls>
                </div>
            </div>

        </div>
     <!-- Book Catalog -->

    <!-- End of Book Catalog -->
  </div>
</div>
  </div>

