
<div class="ui one column centered grid">
    <div class="column" id="toolbar">
        <div class="ui raised link card" style="width: 100%;">
        <div class="content" style="padding: 0px">
            <img class="left floated small ui image" style="margin-bottom: 0px" src="https://semantic-ui.com/images/avatar/large/steve.jpg">
            <div style="padding: 14px">
                <div class="header">
                    <h3>{{poke.name}}</h3>
                </div>
                <div class="meta">
                    <h4>{{poke.location}}</h4>
                </div>
                <div class="meta">
                    <h5>{{poke.phoneNumber}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
</div>





