<div class="ui pointing menu" style="font-size: 1.2em;">
    <a class="item" [ngClass]="{'active':swipe===0}" (click)="swipeTab(0)" *ngIf="isCorrectStatus()" id="ordersRouterLink" [routerLink]="['/orders']">
        <i class="list icon"></i>
        Orders
    </a>
    <a class="item" [ngClass]="{'active':swipe===1}" (click)="swipeTab(1)" *ngIf="isCorrectStatus()" id="mastersRouterLink" [routerLink]="['/masters']">
        <i class="configure icon"></i>
        Masters
    </a>

    <span class="toolbar-spacer"></span>
    <a><h1 style="margin-top: 5px">UberMaster</h1></a>

    <span class="toolbar-spacer"></span>

    <div class="right menu">
        <a class="item" [ngClass]="{'active':swipe===2}" (click)="swipeTab(2)" *ngIf="isCorrectStatus() && isPoke() && notAdmin " [routerLink]="['/profilePoke',user.object_id]">
            <i class="user icon"></i>
            Profile
		</a>
		<a class="item" [ngClass]="{'active':swipe===2}" (click)="swipeTab(2)" *ngIf="isCorrectStatus() && !isPoke() && notAdmin" [routerLink]="['/profileMaster',user.object_id]">
            <i class="user icon"></i>
            Profile 
		</a>
        <a class="item" *ngIf="isCorrectStatus()" (click)="logout()" >
            <i class="sign out icon"></i>
            Log out
        </a>
    </div>
</div>


    <router-outlet></router-outlet>




<!--<div class="container">

    <router-outlet></router-outlet>

</div> -->







