<div class="ui pointing menu" style="font-size: 1.2em;">
    <a class="active item" *ngIf="isCorrectStatus()" id="ordersRouterLink" [routerLink]="['/orders']">
        Orders
    </a>
    <a class="item" *ngIf="isCorrectStatus()" id="mastersRouterLink" [routerLink]="['/masters']">
        Masters
    </a>

    <span class="toolbar-spacer"></span>
    <a><h1 style="margin-top: 5px">UberMaster</h1></a>

    <span class="toolbar-spacer"></span>

    <div class="right menu">
        <a class="item" *ngIf="isCorrectStatus()"><i class="user icon"></i>Profile</a>
        <a class="item" *ngIf="isCorrectStatus()" (click)="logout()"><i class="sign out icon"></i>Log out</a>
    </div>
</div>

<div class="ui segment">
    <router-outlet></router-outlet>
</div>

<!--<div class="container">

    <router-outlet></router-outlet>

</div> -->







