<div class="ui pointing menu">
    <a class="active item">
        Orders
    </a>
    <a class="item">
        Masters
    </a>

    <span class="toolbar-spacer"></span>
    <a><h1 style="margin-top: 5px">UberMaster</h1></a>

    <span class="toolbar-spacer"></span>

    <div class="right menu">
        <a class="item"><i class="user icon"></i>Profile</a>
        <a class="item" (click)="logoutUser()"><i class="sign out icon"></i>Log out</a>
    </div>
</div>

<div class="ui segment">
    <router-outlet></router-outlet>
</div>

