<div class="ui pointing menu">
    <a class="active item">
        Orders
    </a>
    <a class="item">
        Masters
    </a>

    <span class="toolbar-spacer"></span>
    <a><h1 style="margin-top: 5px">UberMaster</h1></a>

    <span class="toolbar-spacer"></span>

    <div class="right menu">
        <div class="ui dropdown item">
            Settings <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item">Profile</a>
                <a class="item">Log out</a>
            </div>
        </div>
    </div>
</div>
<div class="ui segment">

</div>

