<div class="authorize-card" style="padding-top: 8px">


<mat-card class="mat-card-start-page center">
  <mat-card-title>
    <span>Добро пожаловать в UberMaster</span>
  </mat-card-title>
  <mat-card-subtitle>Авторизуйтесь, чтобы продолжить</mat-card-subtitle>
<mat-card-content>
  <div class="row" >
    <form class="col s12">
            <div class="row">
        <div class="input-field col s4 m4">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4 m4">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>

    </form>
  </div>
</mat-card-content>
</mat-card>

</div>