<!--<div class="ui stackable menu">

  <span class="toolbar-spacer"></span>
  <a><h1 style="margin-top: 5px">UberMaster</h1></a>

  <span class="toolbar-spacer"></span>


</div> -->


<div class="ui segment" >
  <div style="color: black">
    <h3>
      Welcome to UberMaster
    </h3>
    <p>Ubermaster is an excellent service for finding masters for your tasks.</p>
    <p>To get started, log in or register</p>
  </div>

  <div class="containerMy">

  
  
  <div class="ui negative message transition hidden" id="authorization-fail-message">
      <i class="ui close icon"></i>
      <div class="header">Authorization has failed</div>
      <p>{{errMsg}}</p>
    </div>
  
    <div class="ui negative message transition hidden" id="authorization-fail-message">
      <i class="close icon"></i>
      <div class="header">Authorization has failed</div>
      <p>Check the input data</p>
    </div>

    <div class="ui one column middle aligned very relaxed stackable grid" [ngClass]="{'loading':isLoading}">
      <div class="column">
        <div class="ui form">
          <div class="field">
            <label>Phone</label>
            <div class="ui left icon input">
              <input type="text" placeholder="Phone" [(ngModel)]="phone">
              <i class="phone icon"></i>
            </div>
          </div>
          <div class="field">
            <label>Password</label>
            <div class="ui left icon input">
              <input type="password" [(ngModel)]="pass">
              <i class="lock icon"></i>
            </div>
          </div>
          <div class="ui blue submit button" (click)="loginUser()">Login</div>
          <div class="ui green labeled icon button" (click)="registration()">
             <i class="signup icon"></i>
            Sign Up
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
