<div class="ui small form segment" xmlns="">
  <form [formGroup]="rForm" (ngSubmit)="createOrder(rForm.value)">
    <div class="ui form-container">
      <div class="ui columns">
        <h1>Create new Order</h1>

        <div class="field">

          <label>Order Name
            <div class="alert ui red message"
                 *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">
              <div class="header">
                This is required
              </div>
              <p>Enter from 10 to 50 symbols</p>
            </div>
          </label><input type="text" class="input text" formControlName="name"/>
        </div>

        <div class="fields">
          <div class="field">
            <label> Master's Profession
              <select class="ui dropdown" formControlName="masterProfession">
                <option *ngFor="let c of professions" [value]="c.id">{{c.name}}</option>

              </select>
            </label>
          </div>
        </div>
        <div class="field">
          <label>Small Description
            <div class="alert ui red message"
                 *ngIf="!rForm.controls['smallDescription'].valid && rForm.controls['smallDescription'].touched">
              <div class="header">
                This is required
              </div>
              <p>Enter from 25 to 280 symbols</p>
            </div>
            <textarea rows="2" formControlName="smallDescription"></textarea>
          </label>
        </div>

        <div class="field">
          <label>Big Description
            <div class="alert ui red message"
                 *ngIf="!rForm.controls['bigDescription'].valid && rForm.controls['bigDescription'].touched">
              <div class="header">
                This is required
              </div>
              <p>Enter from 25 to 580 symbols</p>
            </div>
            <textarea formControlName="bigDescription"></textarea>
          </label>
        </div>


        <div class="fields">

          <div class="field">
            <label>Start date<input type="text" formControlName="startDate"></label>
          </div>

          <div class="field">
            <label>Due Date<input type="date" formControlName="dueDate" min={{today}}></label>
          </div>
        </div>
        <input type="submit" class="button  ui" value="Create order"
               [disabled]="!rForm.valid">
      </div>
    </div>
  </form>
</div>






