
<div class="ui bottom attached segment" *ngIf="!isLoad">
  <div class="ui one column centered grid">
    <div class="two column centered row">
      <div class="column" style="width: 65%!important;">
<div class="ui small loading form segment" xmlns="" [ngClass]="{'loading':isLoading}">
  <form [formGroup]="rForm" (ngSubmit)="createOrder(rForm.value)">
    <div class="ui form-container">
      <div class="ui columns">
        <h1 style="color: black">Create new Order</h1>

        <div class="field">

          <label>Order Name
            <div class="alert ui red message"
                 *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">
              <div class="header">
                This is required
              </div>
              <p>Enter from 10 to 30 symbols</p>
            </div>
          </label><input type="text" class="input text" formControlName="name"/>
        </div>

        <div class="fields">
          <div class="field">
            <label> Master's Profession
              <select class="ui dropdown" formControlName="masterProfession">
                <option *ngFor="let c of professions" [value]="c.name">{{c.name}}</option>

              </select>
            </label>
          </div>
        </div>
        <div class="field">
          <label>Summary
            <div class="alert ui red message"
                 *ngIf="!rForm.controls['smallDescription'].valid && rForm.controls['smallDescription'].touched">
              <div class="header">
                This is required
              </div>
              <p>Enter from 25 to 280 symbols</p>
            </div>
            <textarea rows="2" formControlName="smallDescription"></textarea>
          </label>
        </div>

        <div class="field">
          <label>Details
            <div class="alert ui red message"
                 *ngIf="!rForm.controls['bigDescription'].valid && rForm.controls['bigDescription'].touched">
              <div class="header">
                This is required
              </div>
              <p>Enter from 25 to 580 symbols</p>
            </div>
            <textarea formControlName="bigDescription"></textarea>
          </label>
        </div>


        <div class="fields ui">

          <div class="field">
            <label>Start date<input type="text" formControlName="startDate"></label>
          </div>

          <div class="field ui">
            <label>Due Date<input type="date" formControlName="dueDate" min={{today}}></label>
          </div>
          <div class="field ui">
            <label>Time<input type="time" formControlName="time"></label>
          </div>
        </div>
        <input type="submit" class="button green ui" value="Create order" style="margin: 0 auto; display: block"
               [disabled]="!rForm.valid || rForm.controls['masterProfession'].value == 'Profession...'">
      </div>
    </div>
	<div class="ui positive message transition hidden" id="creation-success-message">
      <i class="close icon"></i>
      <div class="header">Order Successfully Created </div>
    </div>
  </form>
  
  
	
</div>
      </div>
    </div>
  </div>
</div>





