 <div class="ui one column centered grid" style = "font-size:120%;">
<table class="ui red table" style="width: 60%; margin-top:20px;">
    

  <tbody>
	<tr>
		<th class="five wide" ><div class="header" style = "font-size:160%;margin-top:10px;margin-left:20px">{{master.name}}</div></th>
	</tr>
	
	<tr>
		<td rowspan="5">
			<img class="ui medium rounded left floated image" style = "margin-top:10px;margin-left:20px;" src="https://semantic-ui.com/images/avatar/large/matt.jpg">
		</td>
		<td>Experience</td>
		<td>{{master.experience}}</td>
	</tr> 
	
	<tr>
		<td>Skills</td>
		<td>{{master.skills}}</td>
	</tr>
	<tr>
		<td>Tools</td>
		<td>{{master.tools}}</td>
    </tr>
	<tr>
		<td>Payment</td>
		<td>{{master.payment}}</td>
    </tr>
	<tr>
		<td>Smoking</td>
		<td >
			<div *ngIf="isSmoking()">Yes</div>
			<div *ngIf="!isSmoking()">No</div>
		</td>
    </tr>
	
  </tbody>
  <tr>
    <td>
    <tr>
      <td><i class="configure icon" ></i>Profession</td>
      <td>{{master.profession}}</td>
    </tr>
    <tr>
      <td><i class="marker icon"></i>Location</td>
      <td>{{master.location}}</td>
    </tr>
    <tr>
      <td><i class="call icon"></i>Phone Number</td>
      <td>{{master.phoneNumber}}</td>
    </tr>
  </td>
  
  </tr>
</table>
</div>
