<div class="ui one column stackable grid container" >
  <div class="column" style="padding-left: 100px; padding-right: 100px;">
    <div class="ui top attached tabular menu">
      <a class="item" [ngClass]="{'active':swipe===0}" (click)="swipeTab(0)" data-tab="poke">I am Poke</a>
      <a class="item" [ngClass]="{'active':swipe===1}" (click)="swipeTab(1)" data-tab="master">I am Master</a>
    </div>
    <div class="ui bottom attached tab segment active" style="margin-bottom: 50px;" data-tab="poke"
         [ngClass]="{'active':swipe===0}" (click)="swipeTab(0)">
      <div class="ui one column centered grid">
        <div class="column" style="justify-content: center; display: flex">


          <form [formGroup]="rPokeForm" (ngSubmit)="signUpPoke(rPokeForm.value)" class="ui form"
                style="width: 50%;">

				<div class="ui negative message transition hidden" id="authorization1-fail-message">
      <i class="ui close icon"></i>
      <div class="header">Registraition has failed</div>
      <p>{{errMsg}}</p>
		</div>
		<div class="ui positive message transition hidden" id="good-message">
      <i class="ui close icon"></i>
      <div class="header">Registraition completed</div>
		</div>

            <cl-image *ngIf="file != null"   [public-id]="file.public_id" class="imgThumbnail" format="jpg" style="display: block; margin: 0 auto">
              <cl-transformation height="275" width="275" crop="fill" radius="15"></cl-transformation>
            </cl-image>

            <img *ngIf="file == null" class="disabled medium ui image" src="https://semantic-ui.com/images/wireframe/image.png" style="display: block; margin: 0 auto">


            <p>* all fields must be filled</p>
            <div class="field">
                <h3>Drop your photo</h3>
                <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                     (fileOver)="fileOverBase($event)" [uploader]="uploader"
                     class="well my-drop-zone">
                </div>
            </div>
            <div class="field" [ngClass]="{'has-error':!rPokeForm.controls['firstNamePoke'].valid && rPokeForm.controls['firstNamePoke'].touched}">
              <label>First name *</label>
              <input class="form-control" type="text" name="first-name-poke" placeholder="First name"  [formControl]="rPokeForm.controls['firstNamePoke']">
			  <div *ngIf="rPokeForm.controls['firstNamePoke'].hasError('required') && rPokeForm.controls['firstNamePoke'].touched" class="alert" style = "color:red">Include a first name</div>
			  <div *ngIf="rPokeForm.controls['firstNamePoke'].hasError('minlength') && rPokeForm.controls['firstNamePoke'].touched" class="alert" style = "color:red">Your first name must be at least 2 characters long.</div>
			  <div *ngIf="rPokeForm.controls['firstNamePoke'].hasError('maxlength') && rPokeForm.controls['firstNamePoke'].touched" class="alert"style = "color:red">Your first name cannot exceed 15 characters.</div>
		   </div>
            <div class="field" [ngClass]="{'has-error':!rPokeForm.controls['lastNamePoke'].valid && rPokeForm.controls['lastNamePoke'].touched}">
              <label>Last name *</label>
              <input class="form-control" type="text" name="last-name" placeholder="Last name" [formControl]="rPokeForm.controls['lastNamePoke']">
			  <div *ngIf="rPokeForm.controls['lastNamePoke'].hasError('required') && rPokeForm.controls['lastNamePoke'].touched" class="alert" style = "color:red">Include a last name</div>
              <div *ngIf="rPokeForm.controls['lastNamePoke'].hasError('minlength') && rPokeForm.controls['lastNamePoke'].touched" class="alert" style = "color:red">Your last name must be at least 2 characters long.</div>
			  <div *ngIf="rPokeForm.controls['lastNamePoke'].hasError('maxlength') && rPokeForm.controls['lastNamePoke'].touched" class="alert"style = "color:red">Your last name cannot exceed 20 characters.</div>
			</div>
            <div class="field" [ngClass]="{'has-error':!rPokeForm.controls['phoneNumberPoke'].valid && rPokeForm.controls['phoneNumberPoke'].touched}">
              <label>Phone *</label>
              <input type="text" name="phone" placeholder="380880022535" [formControl]="rPokeForm.controls['phoneNumberPoke']">
			  <div *ngIf="rPokeForm.controls['phoneNumberPoke'].hasError('required') && rPokeForm.controls['phoneNumberPoke'].touched" class="alert" style = "color:red">Include a Phone Number</div>
            </div>
            <div class="field">
              <label>Location *</label>
              <select class="ui dropdown" name="location" formControlName="locationPoke">
                <option *ngFor="let c of locations" [value]="c.name">{{c.name}}</option>
              </select>
            </div>
            <div class="field">
              <label>Description</label>
              <textarea  rows="3" type="text" name="description" placeholder="Tell something about you..."
                         formControlName="userDescriptionPoke"></textarea>
            </div>
            <div class="field" [ngClass]="{'has-error':!rPokeForm.controls['passwordPoke'].valid && rPokeForm.controls['passwordPoke'].touched}">
              <label>Password *</label>
              <input type="password" name="password" placeholder="Password..." [formControl]="rPokeForm.controls['passwordPoke']">
			  <div *ngIf="rPokeForm.controls['passwordPoke'].hasError('required') && rPokeForm.controls['passwordPoke'].touched" class="alert" style = "color:red">Enter Password</div>
			  <div *ngIf="rPokeForm.controls['passwordPoke'].hasError('minlength') && rPokeForm.controls['passwordPoke'].touched" class="alert" style = "color:red">Your Password must be at least 4 characters long.</div>
			  <div *ngIf="rPokeForm.controls['passwordPoke'].hasError('maxlength') && rPokeForm.controls['passwordPoke'].touched" class="alert"style = "color:red">Your Password cannot exceed 16 characters.</div>
			</div>
            <div class="field" [ngClass]="{'has-error':!rPokeForm.controls['confirmPasswordPoke'].valid && rPokeForm.controls['confirmPasswordPoke'].touched}">
              <label>Confirm password *</label>
              <input type="password" name="confirm-password" placeholder="Confirm password..."
                    [formControl]="rPokeForm.controls['confirmPasswordPoke']">
			  <div *ngIf="rPokeForm.controls['confirmPasswordPoke'].hasError('required') && rPokeForm.controls['confirmPasswordPoke'].touched" class="alert" style = "color:red">Confirm Password</div>
              <div *ngIf="rPokeForm.controls['confirmPasswordPoke'].hasError('minlength') && rPokeForm.controls['confirmPasswordPoke'].touched" class="alert" style = "color:red">Your Password must be at least 4 characters long.</div>
			  <div *ngIf="rPokeForm.controls['confirmPasswordPoke'].hasError('maxlength') && rPokeForm.controls['confirmPasswordPoke'].touched" class="alert"style = "color:red">Your Password cannot exceed 16 characters.</div>
			</div>
            <div class="ui one column stackable grid container">
              <div class="column">
                <div class="field" style="justify-content: center; display: flex">
                  <input type="submit" class="ui green button" value="Sign Up"
                         [disabled]="!rPokeForm.valid ||
                         rPokeForm.controls['passwordPoke'].value != rPokeForm.controls['confirmPasswordPoke'].value ||
                         rPokeForm.controls['locationPoke'].value == 'Location...' || file == null">
                  <div class="ui blue submit button" (click)="authorization()">Back to Login</div>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
    <div class="ui bottom attached tab segment" style="margin-bottom: 50px;" data-tab="master"
         [ngClass]="{'active':swipe===1}" (click)="swipeTab(1)">
      <div class="ui one column centered grid">
        <div class="column" style="justify-content: center; display: flex">
          <form [formGroup]="rMasterForm" (ngSubmit)="signUpMaster(rMasterForm.value)" class="ui form" style="width: 50%;">

		  
		  <div class="ui negative message transition hidden" id="authorization2-fail-message">
      <i class="ui close icon"></i>
      <div class="header">Registraition has failed</div>
      <p>{{errMsg}}</p>
		</div>

            <cl-image *ngIf="file != null"   [public-id]="file.public_id" class="imgThumbnail" format="jpg" style="display: block; margin: 0 auto">
              <cl-transformation height="275" width="275" crop="fill" radius="15"></cl-transformation>
            </cl-image>

            <img *ngIf="file == null" class="disabled medium ui image" src="https://semantic-ui.com/images/wireframe/image.png" style="display: block; margin: 0 auto">


            <p>* all fields must be filled</p>
            <div class="field">
              <h3>Drop your photo</h3>
              <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                   (fileOver)="fileOverBase($event)" [uploader]="uploader"
                   class="well my-drop-zone"></div>
            </div>
            <div class="field" [ngClass]="{'has-error':!rMasterForm.controls['firstNameMaster'].valid && rMasterForm.controls['firstNameMaster'].touched}">
              <label>First name *</label>
              <input class="form-control" type="text" name="first-name-poke" placeholder="First name"  [formControl]="rMasterForm.controls['firstNameMaster']">
			  <div *ngIf="rMasterForm.controls['firstNameMaster'].hasError('required') && rMasterForm.controls['firstNameMaster'].touched" class="alert" style = "color:red">Include a first name</div>
			  <div *ngIf="rMasterForm.controls['firstNameMaster'].hasError('minlength') && rMasterForm.controls['firstNameMaster'].touched" class="alert" style = "color:red">Your first name must be at least 2 characters long.</div>
			  <div *ngIf="rMasterForm.controls['firstNameMaster'].hasError('maxlength') && rMasterForm.controls['firstNameMaster'].touched" class="alert"style = "color:red">Your first name cannot exceed 15 characters.</div>
		   </div>
            <div class="field" [ngClass]="{'has-error':!rMasterForm.controls['lastNameMaster'].valid && rMasterForm.controls['lastNameMaster'].touched}">
              <label>Last name *</label>
              <input class="form-control" type="text" name="last-name" placeholder="Last name" [formControl]="rMasterForm.controls['lastNameMaster']">
			  <div *ngIf="rMasterForm.controls['lastNameMaster'].hasError('required') && rMasterForm.controls['lastNameMaster'].touched" class="alert" style = "color:red">Include a last name</div>
              <div *ngIf="rMasterForm.controls['lastNameMaster'].hasError('minlength') && rMasterForm.controls['lastNameMaster'].touched" class="alert" style = "color:red">Your last name must be at least 2 characters long.</div>
			  <div *ngIf="rMasterForm.controls['lastNameMaster'].hasError('maxlength') && rMasterForm.controls['lastNameMaster'].touched" class="alert"style = "color:red">Your last name cannot exceed 20 characters.</div>
			</div>
            <div class="field" [ngClass]="{'has-error':!rMasterForm.controls['phoneNumberMaster'].valid && rMasterForm.controls['phoneNumberMaster'].touched}">
              <label>Phone *</label>
              <input type="text" name="phone" placeholder="3808800225353" [formControl]="rMasterForm.controls['phoneNumberMaster']">
			  <div *ngIf="rMasterForm.controls['phoneNumberMaster'].hasError('required') && rMasterForm.controls['phoneNumberMaster'].touched" class="alert" style = "color:red">Include a Phone Number</div>
            </div>
            <div class="field">
              <label>Location *</label>
              <select class="ui dropdown" name="location" formControlName="locationMaster">
                <option *ngFor="let c of locations" [value]="c.name">{{c.name}}</option>
              </select>
            </div>
            <div class="field">
              <label>Description</label>
              <textarea  rows="3" type="text" name="description" placeholder="Tell something about you..."
                        formControlName="userDescriptionMaster"> </textarea>
            </div>
            <div class="field" [ngClass]="{'has-error':!rMasterForm.controls['passwordMaster'].valid && rMasterForm.controls['passwordMaster'].touched}">
              <label>Password *</label>
              <input type="password" name="password" placeholder="Password..." [formControl]="rMasterForm.controls['passwordMaster']">
			  <div *ngIf="rMasterForm.controls['passwordMaster'].hasError('required') && rMasterForm.controls['passwordMaster'].touched" class="alert" style = "color:red">Enter Password</div>
			  <div *ngIf="rMasterForm.controls['passwordMaster'].hasError('minlength') && rMasterForm.controls['passwordMaster'].touched" class="alert" style = "color:red">Your Password must be at least 4 characters long.</div>
			  <div *ngIf="rMasterForm.controls['passwordMaster'].hasError('maxlength') && rMasterForm.controls['passwordMaster'].touched" class="alert" style = "color:red">Your Password cannot exceed 16 characters.</div>
			</div>
            <div class="field" [ngClass]="{'has-error':!rMasterForm.controls['confirmPasswordMaster'].valid && rMasterForm.controls['confirmPasswordMaster'].touched}">
              <label>Confirm password *</label>
              <input type="password" name="confirm-password" placeholder="Confirm password..."
                    [formControl]="rMasterForm.controls['confirmPasswordMaster']">
			  <div *ngIf="rMasterForm.controls['confirmPasswordMaster'].hasError('required') && rMasterForm.controls['confirmPasswordMaster'].touched" class="alert" style = "color:red">Confirm Password</div>
              <div *ngIf="rMasterForm.controls['confirmPasswordMaster'].hasError('minlength') && rMasterForm.controls['confirmPasswordMaster'].touched" class="alert" style = "color:red">Your Password must be at least 4 characters long.</div>
			  <div *ngIf="rMasterForm.controls['confirmPasswordMaster'].hasError('maxlength') && rMasterForm.controls['confirmPasswordMaster'].touched" class="alert" style = "color:red">Your Password cannot exceed 16 characters.</div>
			</div>
            <div class="field">
              <label>Profession *</label>
              <select class="ui dropdown" name="profession" formControlName="profession">
                <option *ngFor="let c of professions" [value]="c.name">{{c.name}}</option>
              </select>
            </div>
            <div class="field">
              <label>Tools</label>
              <input type="text" name="tools" placeholder="Enter separated by commas..." formControlName="tools">
            </div>
            <div class="field">
              <label>Skills</label>
              <input type="text" name="skills" placeholder="Enter separated by commas..." formControlName="skills">
            </div>
            <div class="field" [ngClass]="{'has-error':!rMasterForm.controls['experience'].valid && rMasterForm.controls['experience'].touched}">
              <label>Experience *</label>
              <input type="text" name="experience" placeholder="Your experience..." [formControl]="rMasterForm.controls['experience']">
			  <div *ngIf="rMasterForm.controls['experience'].hasError('required') && rMasterForm.controls['experience'].touched" class="alert" style = "color:red">Enter your Experience</div>
			  <div *ngIf="rMasterForm.controls['experience'].hasError('min') && rMasterForm.controls['experience'].touched" class="alert" style = "color:red">Experience should be positive</div>
		   </div>
            <div class="field" > <!--style="margin-left:30px; width:160px;"-->
              <label>Work time *</label>
              <div style="margin-left:20px; width:190px;">
                <label for="start_time" style="float:left;">From</label>
                <input type="number" name="start_time" for="to" id="start_time" step="1" min="0" max="23" value="0"
                       style="float:left; width:62px; height:10px;" formControlName="startTime">
                <label for="end_time" id="to" style="float:left;">To</label>
                <input type="number" name="end_time" id="end_time" step="1" min="0" max="23" value="0"
                       style="width:62px; height:10px;" formControlName="endTime">
              </div>
            </div>

            <div class="field" style="margin-left:30px; width:160px;">
              <label for="payment" style="float:left;">Payment * </label>
              <input type="number" name="payment" id="payment" step="10" min="0" value="0"
                     style="width:90px; height:10px;" formControlName="payment">
              <label for="payment" style="float:right;">$</label>
			  <div *ngIf="rMasterForm.controls['payment'].hasError('min') && rMasterForm.controls['payment'].touched" class="alert" style = "color:red">Payment should be positive</div>
            </div>
            <div class="field" style="margin-left:30px; width:160px;">
              <label for="smoking" style="float:left;">Smoking * </label>
              <input type="radio" name="smoke" id="smoking" value="true" formControlName="smoke"> Yes
              <input type="radio" name="smoke" value="false" checked formControlName="smoke"> No
            </div>
            <div class="ui one column stackable grid container">
              <div class="column">
                <div class="field" style="justify-content: center; display: flex">
                  <input type="submit" class="ui green button" value="Sign Up"
                         [disabled]="!rMasterForm.valid ||
                         rMasterForm.controls['passwordMaster'].value != rMasterForm.controls['confirmPasswordMaster'].value ||
                         rMasterForm.controls['locationMaster'].value == 'Location...' ||
                         rMasterForm.controls['profession'].value == 'Profession...' || file == null">
                  <div class="ui blue submit button" (click)="authorization()">Back to Login</div>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
