<div class="ui raised link card" style="width: 100%; margin-bottom: 6px">
  <div class="content">
    <div class="header" style="word-wrap: break-word">{{order.name}}</div>
    <div>
      <span class="category">{{order.status}}</span>
    </div>
    <div class="description">
      <p style="word-wrap: break-word">{{order.smallDescription}}</p>
    </div>
  </div>
  <div class="extra content">
		  <div class="left floated author " style="display: flex;">
			  <button class="ui blue basic button" (click)="showOrder()" style="margin-bottom: 0px">Details</button>
			  <button class="ui negative button" style="margin-bottom: 0px" (click)="deleteOrder(order.object_id)"
					  *ngIf="isPoke() && notAdmin && (order.status=='In processing' || order.status=='New') ">Delete</button>
			  <button class="ui positive button" style="margin-bottom: 0px" (click)="confirmOrder(order)"
					  *ngIf="isPoke() && notAdmin && order.status=='Master done'"
					  [routerLink]="['/rate',order.object_id]">Confirm Complation</button>
			  <button class="left floated ui positive basic button" style="margin-bottom: 0px"  (click)="confirmCompletionByMaster(order)"
					  *ngIf="!isPoke() && notAdmin && order.status=='In processing'">Confirm Completion </button>
		  </div>


			  <div class="right floated aughtor" style="margin-bottom: 0px"  (click)="showPoke()" *ngIf="!isLoading">
				  <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/matt.jpg" > {{getNamePoke()}}
			  </div>


	  </div>
</div>



