<div class="ui raised link card" style="width: 100%; margin-bottom: 6px">
  <div class="content">
    <div class="header">{{order.name}}</div>
    <div class="meta">
      <span class="category">{{order.status}}</span>
    </div>
    <div class="description">
      <p>{{order.bigDescription}}</p>
    </div>
  </div>
  <div class="extra content">
	<div *ngIf="isPoke() && notAdmin && order.status!='New'">
	<div class="left floated suthor ">
	<button class="ui negative button" style="margin-bottom: 0px" (click)="deleteOrder(order.object_id)">Delete</button>
	</div>
	<div class="right floated author">
      <button class="left floated ui positive basic button" style="margin-bottom: 0px"  >Confirm Completion </button>
	  <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/matt.jpg" > Matt
	  </div>
	  </div>
	  <div class="right floated author">
	  <div *ngIf="!isPoke() && notAdmin ">
	  <button class="left floated ui positive basic button" style="margin-bottom: 0px"  >Confirm Completion </button>
	<!--   <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/matt.jpg" > Matt -->
	  </div>
	  <div *ngIf="isPoke() && notAdmin && order.status=='New' ">
	    <button class="ui negative button" style="margin-bottom: 0px" (click)="deleteOrder(order.object_id)"  >Delete</button> 
	 <!--      <input class="ui negative button"  type='submit' value='Delete' onclick="return confirm('Вы точно хотите удалить заказ?')"> -->
	  </div>
   </div>
</div>
</div>



