<div id="main"  *ngIf="!isLoad">
  <p></p>
  <div class="ui one column centered grid"style="margin-bottom: 50px;" >
    <div class="ui one column centered grid">
      <div class="column" id="outbar">
        <form class="ui form" style="width: 50%; margin-left:110px">
          <p>* Fields must be filled</p>
          <div class="field">
            <label>Your foto</label>
            <input name="file" type="file"
                   class="file-upload" data-cloudinary-field="image_id"
                   data-form-data="{ 'transformation': {'crop':'limit','tags':'samples','width':3000,'height':2000}}" [(ngModel)]="picturePoke">
          </div>
          <div class="field">
            <label>First name *</label>
            <input type="text" name="first-name-poke" [(ngModel)]="firstNamePoke">
          </div>
          <div class="field">
            <label>Last name *</label>
            <input type="text" name="last-name" [(ngModel)]="lastNamePoke">
          </div>
          <div class="field">
            <label>Phone *</label>
            <input type="text" name="phone"  [(ngModel)]="phoneNumberPoke">
          </div>
          <div class="field">
            <label>Location *</label>
            <select name="location" [(ngModel)]="locationPoke">
              <option>Primorskyy</option>
              <option>Malinovskyy</option>
              <option>Kievskyy</option>
              <option>Suvorovskyy</option>
            </select>
          </div>
          <div class="field">
            <label>Description</label>
            <input type="text" name="description"  [(ngModel)]="userDescriptionPoke">
          </div>
          <div class="field">
            <label>Password *</label>
            <input type="password" name="password" [(ngModel)]="passwordPoke">
          </div>
          <div class="field">
            <label>Confirm password *</label>
            <input type="password" name="confirm-password"  [(ngModel)]="confirmPasswordPoke">
          </div>
          <div class="field" style="margin-left: -15px; width: 270px;">
          <div class="ui green labeled icon button" (click)="confirmChanges()">
            <i class="signup icon"></i>
            Confirm Changes
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>